<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="My blog">
    <meta property="og:description" content="나만의 글을 포스팅해보세요.">
<!--    <meta property="og:image" content="images/og_selectshop.png">-->
    <link href="https://fonts.googleapis.com/css2?family=family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <title>My Blog</title>
</head>
<body>
<div class="header" style="position:relative;">
    <div id="header-title-login-user">
        <span th:text="${nickname}"></span> 님의
    </div>
    <div id="header-title-select-shop">
        Blog
    </div>

    <form id="my_form" method="post" action="/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>
    <a href="/posts">포스팅하러 가기</a>
</div>
<div id="see-area">
    <div id="product-container">

    </div>
</div>
<div id="search-area">
<!--    <div>-->
<!--        <input type="text" id="query">-->
<!--        &lt;!&ndash;    <img src="images/icon-search.png" alt="">&ndash;&gt;-->
<!--    </div>-->
    <div id="search-result-box">

    </div>
<!--    <div id="container" class="popup-container">-->
<!--        <div class="popup">-->
<!--            <button id="close" class="close">-->
<!--                X-->
<!--            </button>-->
<!--            <h1>⏰최저가 설정하기</h1>-->
<!--            <p>최저가를 설정해두면 선택하신 상품의 최저가가 떴을 때<br/> 표시해드려요!</p>-->
<!--            <div>-->
<!--                <input type="text" id="myprice" placeholder="200,000">원-->
<!--            </div>-->
<!--            <button class="cta" onclick="setMyprice()">설정하기</button>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>